Home

<mat-card>
    <section>
        <button mat-raised-button color="primary" routerLink="/signup">
            <mat-icon>person_add</mat-icon>
            <span>Sign up</span>
        </button>
    </section>

    <section>
        <button mat-raised-button color="primary" routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-raised-button color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
        </button>
    </section>
    
    <br>

    <section>
        <button mat-raised-button color="primary" routerLink="/my-dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
    </section>

</mat-card>






<br>

<mat-card *ngIf="(afAuth.user | async)">
    <mat-icon>check_circle</mat-icon>
    <span>User is logged in</span>
</mat-card>
<mat-card *ngIf="!(afAuth.user | async)">
    <mat-icon>do_not_disturb</mat-icon>
    <span>User is not logged in</span>
</mat-card>